#slider
{
    overflow: hidden;
    width: 430px;
    height: 356px;
    margin: 0 auto;
}

#slider ul
{
    width: 300%;
    height: 356px;
    display: inline-block;
    position: relative;
    list-style: none;
}

#slider li
{
    float: left;
}